---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-4">
			Hello there! My name is Gazi Refat, a passionate individual on the brink of completing my
			undergraduate degree in Computer Science and Engineering. Parallel to my academic pursuits I'm
			currently serving as the Chief Operating Officer (COO) at <a href="https://reinforz.ai" class="text-orange underline">Reinforz</a> AI, where I am able to put
			my skills into practice and contribute to the realm of AI.
		</p>
		<p>
			I'm also a Full Stack Web Developer. I have a deep fascination with technology and I love to
			immerse myself in different tools and technologies, always eager to learn and try something
			new. Currently, I'm learning about NLP, LLMs and promt engineering.
		</p>
	</div>
</section>
