---
import Social from '@components/ui/Social.astro';
---

<section
	data-testid="contact"
	id="contact"
	class="flex flex-col flex-wrap items-center justify-center gap-8 text-black dark:text-white lg:mb-0 lg:h-screen"
>
	<h2 class="font-monospace text-2xl text-orange lg:text-4xl">Catch me at</h2>
	<hr class="w-1/2" />
	<div class="gap-8 flex flex-row lg:gap-20">
		<Social />
	</div>
</section>
