---
import Button from '@components/ui/Button.astro';
import Welcome from '@components/ui/Welcome';
---

<section
	data-testid='hero'
	class='flex h-[80vh] flex-col items-center justify-center text-center lg:flex-row'
>
	<div class='mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2'>
		<Welcome client:load />
		<div class='mb-10'>
			<a href='CV.pdf' target='_blank' rel='noopener' aria-label='Download cv'>
				<Button style={'primary'} size={'lg'} class={'flex'} name='learn more'>Résumé</Button>
			</a>
		</div>
	</div>
	<div class='w-full text-justify text-black dark:text-white lg:w-1/2'>
		<p class='mb-4'>
			Hello there! I'm Gazi Refat. Currently a Full Stack Engineer at Ascend AI. I'm also a co-founder at <a
				href='https://reinforz.ai'
				class='font-bold text-twilight-100'>Reinforz AI</a
			>
		</p>
		<p>
     Currently I'm a Full Stack Engineer at Ascend AI and Co-Founder of Reinforz.AI, specializing in web, mobile and desktop applications using web technologies and AI as well (LLMs, ML, NLP). I also have a deep fascination with technology and love to immerse myself in different tools and technologies, always eager to learn and try something new.
		</p>
	</div>
</section>
