---
import Button from '@components/ui/Button.astro';
import Welcome from '@components/ui/Welcome';
---

<section
	data-testid='hero'
	class='flex h-[80vh] flex-col items-center justify-center text-center lg:flex-row'
>
	<div class='mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2'>
		<Welcome client:load />
		<div class='mb-10'>
			<a href='CV.pdf' target='_blank' rel='noopener' aria-label='Download cv'>
				<Button style={'primary'} size={'lg'} class={'flex'} name='learn more'>Résumé</Button>
			</a>
		</div>
	</div>
	<div class='w-full text-justify text-black dark:text-white lg:w-1/2'>
		<p class='mb-4'>
			Hello there! I'm Gazi Refat - Application Engineer at Auxo Solutions, Software Engineer at All Generation Tech, and Co-Founder of Reinforz AI. I build AI-driven platforms with a focus on large language models and natural language processing.
		</p>
	</div>
</section>
