---
import Button from '@components/ui/Button.astro';
import Welcome from '@components/ui/Welcome';
import { Image } from '@astrojs/image/components';
import astroImage from '@assets/images/astrolife.webp';
---

<section
	data-testid='hero'
	class='flex lg:h-[80vh] flex-col items-center justify-center text-center gap-y-16 lg:flex-row lg:gap-x-16 lg:gap-y-0'
>
	<div class='relative flex items-center justify-center pt-10 lg:pt-0'>
		<Image
			src={astroImage}
			alt={'Astro Life'}
			format='png'
			width={400}
			height={400}
			loading='eager'
			class='blur-md filter'
		/>
		<div class='absolute mb-10 flex flex-col items-center lg:mb-0'>
			<Welcome client:load />
			<a href='CV.pdf' target='_blank' rel='noopener' aria-label='Download cv' class='mb-10'>
				<Button style={'primary'} size={'lg'} class={'flex'} name='learn more'>Résumé</Button>
			</a>
		</div>
	</div>
	<div class='w-full text-justify text-black dark:text-white lg:w-1/2'>
		<p class='mb-4'>
			Hello there! My name is Gazi Refat, a passionate individual completing an undergraduate degree
			in Computer Science and Engineering. I'm also a co-founder at <a
				href='https://reinforz.ai'
				class='font-bold text-twilight-100'>Reinforz AI</a
			>
		</p>
		<p>
			I'm also a Full Stack Web Developer. I have a deep fascination with technology and love to
			immerse myself in different tools and technologies, always eager to learn and try something
			new. Currently, I'm learning about NLP, LLMs and prompt engineering.
		</p>
	</div>
</section>
