---
import Button from '@components/ui/Button.astro';
import Welcome from '@components/ui/Welcome';
---

<section
	data-testid='hero'
	class='flex h-[80vh] flex-col items-center justify-center text-center lg:flex-row'
>
	<div class='mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2'>
		<Welcome client:load />
		<div class='mb-10'>
			<a href='CV.pdf' target='_blank' rel='noopener' aria-label='Download cv'>
				<Button style={'primary'} size={'lg'} class={'flex'} name='learn more'>Résumé</Button>
			</a>
		</div>
	</div>
	<div class='w-full text-justify text-black dark:text-white lg:w-1/2'>
		<p class='mb-4'>
			Hello there! I'm Gazi Refat – a Full Stack Engineer at Ascend AI and Co-Founder of Reinforz AI. I hold a B.Sc. in Computer Science from BRAC University and specialize in architecting and deploying AI-driven web, mobile, and desktop applications.
		</p>
		<p>
			At Ascend AI, I partner with data scientists to integrate LLM, ML and NLP models into production, build RESTful APIs and real-time data pipelines, and maintain scalable cloud infrastructures. I'm passionate about exploring new tools and technologies, contributing to open-source projects, and mentoring fellow developers to push the boundaries of what's possible with web and AI.
		</p>
	</div>
</section>
