---
import ToggleTheme from '@components/ui/ToggleTheme.astro';
import { Astronav, MenuItems } from 'astro-navbar';
import Social from '@components/ui/Social.astro';
---

<header data-testId="header" class="my-5 flex flex-col items-center justify-between">
	<Astronav>
		<MenuItems class="mt-2 lg:flex">
			<div class="flex flex-row gap-5">
				<Social />
				<ToggleTheme />
			</div>
		</MenuItems>
	</Astronav>
</header>
