---
import { Icon } from 'astro-icon';
---

<div class='theme-switch-wrapper md:flex md:items-center'>
	<label
		data-testid='theme-switch'
		class='theme-switch relative inline-block h-[34px] w-[60px]'
		for='checkbox'
	>
		<input type='checkbox' id='checkbox' class='hidden' />

		<Icon
			class='h-8 text-twilight-400 dark:text-twilight-100 dark:hover:text-lightpurple-100'
			name='tabler:sun'
		/>
	</label>
</div>

<style>
	input:checked + .slider:before {
		transform: translateX(26px);
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', function ready() {
		const button = document.querySelector(
			'.theme-switch input[type="checkbox"]'
		) as HTMLInputElement;

		const switchTheme = () => {
			document.documentElement.classList.toggle('dark');
			if (document.documentElement.classList.contains('dark')) {
				localStorage.setItem('theme', 'dark');
			}
		};

		if (
			localStorage.theme === 'dark' ||
			(!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
		) {
			switchTheme();
		}

		button.addEventListener('click', () => {
			switchTheme();
		});
	});
</script>
